<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.lcm.listadecoisa">
    <!-- Flutter needs it to communicate with the running application
         to allow setting breakpoints, to provide hot reload, etc.
    -->
    <uses-permission android:name="android.permission.INTERNET"/>
    <application>
        <meta-data android:name="com.google.android.gms.ads.APPLICATION_ID" android:value="ca-app-pub-1205611887737485~5958125847"/>
    </application>
</manifest>
